*{
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lucida Grande";
    margin: 0px;
    padding: 0px;
  }
  
  .header {
    width: 1350px;
    height: 110px;
    padding: 10px 20px;
    margin: auto;
    background-color:rgba(34, 49, 52, 0.9);
    z-index: 10;
  }

  .header-logo {
    font-size: 40px;
    margin-top: 5px;
    padding-top: 25px;
    background-color: none;
    margin-left: 0xpx;
    float: left;
    z-index: 10;
    opacity: 0.8;
  }

  .header-list {
    margin: auto;
    text-decoration: underline;
    padding-right: 70px;
    text-align: center;
  }

  li {
    float: left;
    margin: auto;
    padding: 30px 0 0 160px;
    font-size: 20px;
    display: block;
    position: sticky;
    color:#5dca88
  }
  

  .log-in {
    background-color: brown;
    float: right;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    opacity: 0.8;
  }
  
  .log-in:hover {
    background-color: rgba(255, 255, 255, 0.5);
    position: block;
    cursor: pointer;
  }
